{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex flex-col items-center border-4 border-yellow-400 p-6">
        <!-- รูปภาพสองรูปแสดงด้านข้างกัน -->
        <div class="flex space-x-4 mb-4">
            <img class="object-cover w-full max-w-xs h-auto rounded-xl" src="{% static 'image/f0801.jpg' %}" alt="ลาบปลาคัง">
            <img class="object-cover w-full max-w-xs h-auto rounded-xl" src="{% static 'image/f0802.jpg' %}" alt="ลาบปลาคัง">
        </div>
        
        <!-- ข้อความ -->
        <div class="text-center">
            <h3 class="text-lg text-blacky-600 mb-4 font-bold">ลาบปลาคัง</h3>
            <p class="text-base mb-8 text-black-600"> เป็นอาหารพื้นเมืองที่มีส่วนประกอบหลัก คือ เนื้อปลาคัง ซึ่งเป็นปลาธรรมชาติจากลุ่มแม่น้ำโขง เนื้อปลามีคุณค่าทางโภชนาการ อุดมไปด้วยโปรตีนสูง ไขมันต่ำ และจำเป็นต่อร่างกาย ป้องกันการอุดตันในเส้นเลือด โรคหัวใจ และเส้นเลือดในสมองแตก ช่วยบำรุงเซลล์สมองและเสริมสร้างผนังเซลล์ประสาทในสมองให้แข็งแรง ประกอบกับจังหวัดอุบลราชธานีมีแม่น้ำไหลผ่านถึง 3 สาย ได้แก่ แม่น้ำมูล แม่น้ำชี และแม่น้ำโขง จึงอุดมไปด้วยพันธุ์ปลานานาชนิด จึงได้รับสมญานามยกให้เป็นราชธานีแห่งปลาแซ่บหลาย 
                ดังนั้นลาบปลาคัง จึงเป็นอาหารพื้นเมือง ที่มีเอกลักษณ์เฉพาะ คือ เนื้อปลาคังจะเหนียวแน่น หวานอร่อย มีรสชาติที่ไม่เหมือน ลาบปลาชนิดอื่น เมื่อนำเนื้อปลาคังมาต้ม นำมาสับให้ละเอียด หรือ หั่นเป็นชิ้นเล็กๆบางๆ ปรุงด้วยเครื่องปรุงรสด้วยเกลือ น้ำปลา น้ำปลาร้า มะนาว แล้วโรยด้วยข้าวคั่ว เติมความเผ็ดด้วยพริกป่น กลิ่นหอมจากข้าวคั่วและใบสะระแหน่ ใบมะกรูดซอย ต้นหอม และหอมแดง เป็นความผสมผสานที่ลงตัวระหว่างชนิดของอาหาร และเครื่องปรุง มีรสชาติ เผ็ดกลมกล่อม มีเสน่ห์ของความเป็นไทย 
                รับประทานกับข้าวเหนียวและเครื่องเคียงผักพื้นบ้านนานาชนิด อาทิ แตงกวา ยอดกระถิน ลิ้นฟ้า ยอดมะกอก ยอดมะเฟือง ยอดมะตูม ยอดสะเดา เป็นต้น ซึ่งมีคุณค่าทางสมุนไพรสูง มีใยอาหารสูง มีวิตามิน และเกลือแร่ที่สำคัญ อยู่ในส่วนประกอบของอาหารและในส่วนที่เป็นเครื่องเคียง อุดมด้วยพืชผักสมุนไพรมากมายหลายชนิด 
                ซึ่งมีสรรพคุณทางยาจากสารพฤกษเคมี ช่วยต้านอนุมูลอิสระ ส่งเสริมระบบภูมิคุ้มกันและลดอัตราเสี่ยงต่อการเกิดโรค เช่น โรคไขมันในเลือดสูง โรคหัวใจและหลอดเลือด โรคความดันโลหิตสูง โรคเบาหวาน เป็นต้น</p>
        </div>
        <img class="object-cover w-full max-w-xs h-auto rounded-xl" src="{% static 'image/f0801.jpg' %}" alt="ลาบปลาคัง">
    </div>
{% endblock %}
