{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex flex-col items-center border-4 border-yellow-400 p-6">
        <!-- รูปภาพสองรูปแสดงด้านข้างกัน -->
        <div class="flex space-x-4 mb-4">
            <img class="object-contain w-3/4 max-w-xs h-auto rounded-xl border border-gray-300" src="{% static 'image/f0302.jpg' %}" alt="หมี่ขาว">
            <img class="object-contain w-3/4 max-w-xs h-auto rounded-xl border border-gray-300" src="{% static 'image/f0303.jpg' %}" alt="หมี่ขาว">
        </div>
        
        <!-- ข้อความ -->
        <div class="text-center">
            <h3 class="text-lg text-blacky-600 mb-4 font-bold">หมี่ขาว</h3>
            <p class="text-base mb-8 text-black-600">หมี่กะทิของอุบลราชธานีจะไม่ใช้เส้นหมี่เหมือนภาคกลาง เนื่องจากชาวอีสาน จะทำเส้นก๋วยเตี๋ยวขึ้นเอง ซึ่งเรียกว่า "หมี่" คล้ายกับเส้นเล็กของทางภาคกลาง แต่จะเป็นเส้นที่ตากแห้ง และขดเป็นวงกลม เช่นเดียวกับเส้นจันท์ เมื่อทำหมี่กะทิ ต้องนำเส้นหมี่ไปแช่น้ำให้คลายตัว แล้วลวกด้วยน้ำเดือดจนเส้นนุ่ม 
                สำหรับเครื่องปรุงหมี่กะทิอุบลนั้นใช้ส่วนผสมจากวัตถุดิบธรรมชาติที่มีในท้องถิ่น ผัดกับเครื่องโขลกจากพริกแกงกับกะทิ ใส่หมูสับ เต้าเจี้ยว น้ำมะขามเปียก น้ำตาลปึก เกลือป่น ผัดเครื่องปรุงทั้งหมดให้เข้ากันดี เมื่อรับประทานจัดใส่จานตักราดด้วยน้ำปรุงรสหมี่กะทิเข้มข้น มีรสชาติที่หวานมันกลมกล่อม ราดบนเส้น หมี่ รับประทานกับผักพื้นบ้านล้วนเป็นสมุนไพรจากธรรมชาติ 
                เครื่องเคียงนานาชนิด อาทิ หัวปลี, ถั่วงอก, ใบกุยช่าย, ใบบัวบก, แตงกวา, ผักติ้ว, ใบชะพลู, ยอดมะม่วง, ใบชะมวง, ผักกาดหอม เป็นต้น มีคุณค่าทางสมุนไพรสูงมีใยอาหารสูง มีวิตามิน และเกลือแร่ที่สำคัญ อยู่ในส่วนประกอบของอาหารและในส่วนที่เป็นเครื่องเคียง อาหารพื้นเมือง อุดมด้วยพืชผักสมุนไพรมากมายหลายชนิด ซึ่งมีสรรพคุณทางยาจากสารพฤกษเคมี 
                จึงมีคุณสมบัติในการรักษาสุขภาพให้เป็นปกติกับปรับปรุงสุขภาพให้ดีขึ้นและลดอัตราเสี่ยงต่อการเกิดโรค เช่น โรคไขมันในเลือดสูง โรคหัวใจและหลอดเลือด โรคความดันโลหิตสูง โรคเบาหวาน เป็นต้น</p>
        </div>
        <img class="object-contain w-3/4 max-w-xs h-auto rounded-xl border border-gray-300" src="{% static 'image/f0301.jpg' %}" alt="หมี่ขาว">
    </div>
{% endblock %}
